.Revenue {
    height: 100%;
    width: 100%;
    background: #e6f0e6;
    overflow: auto;
}

.row {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.col {
    margin: 10px auto !important;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* Percentage Headers above tables */

.Percentage {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    float: left;
}

.Percentage input {
    background: transparent;
    border: 1px solid black;
    border-radius: 8px;
    width: 60px;
    text-align: center;
}

.Percentage input:hover,
.Percentage input:focus,
.Percentage input:active {
   outline: none;
}

.Percentage span {
    margin-left: 20px;
}

.OneTime {
    float: right;
    font-size: 18px;
    font-weight: bold;
}


/* TABLE */
.Table {
    font-size: 18px;
    white-space: nowrap;
}

.Table th {
    text-align: center;
}

.Projection {
    margin: 20px 0;
    text-align: left;
}

.Projection h1 {
    display: inline-block;
    margin-right: 15px;
    font-weight: bold;
}

.Projection input {
    height: 40px;
    width: 100px;
    text-align: center;
    font-size: 22px;
    line-height: 22px;
    color: black;
    background: transparent;
    border: none;
    padding-left: 0;
    border-bottom: 3px solid green;
}

.Projection span {
    font-size: 22px;
}

.Projection input:hover,
.Projection input:focus,
.Projection input:active {
    outline: none;
}

.Membership h3 {
    font-weight: bold;
    display: inline-block;
}

.Membership input {
    width: 100%;
    height: 100%;
    text-align: center;
    background: transparent;
    border-radius: 8px;
    border: none;
}

.MemberTable {
    border-collapse: collapse;
    display: inline-block;
    width: 250px;
}

.MemberTable td {
    height: 30px;
    border: 1px solid black;
}

@media (max-width: 499px) {
    .Table {
        width: 400px !important; 
        margin-left: 0;
        margin-right: 0; 
    }

    .Title {
        white-space: nowrap;
        overflow: hidden;
    }
    .Percentage {
        float: none;
    }
    .OneTime {
        float: none;
    }
}

@media (min-width: 500px) {
    .Revenue {
        min-height: 650px;
    }
}
