.NavigationItem {
    display: block;
    background: transparent;
    color: #000;
    width: 80px;
    flex-basis: 40%;
    flex-shrink: 0;
    flex-grow: 1;
    line-height: 34px;
    font-size: 18px;
}

@media (min-width: 800px) {
    .NavigationItem {
        flex-basis: 100px;
        line-height: 40px;
        font-size: 28px;
        border: 2px solid #74db8c;
        background: transparent !important;
        color: #000 !important;
    }
    .NavigationItem:nth-child(1) {
        border-right: 1px solid #74db8c;
    }

    .NavigationItem:nth-child(2) {
        border-right: 1px solid #74db8c;
    }

    .NavigationItem:nth-child(3) {
        border-right: 1px solid #74db8c;
    }

    .NavigationItem:nth-child(4) {
        border-right: 1px solid #74db8c;
    }
}

.NavigationItem:nth-child(2) {
    background: #02375b;
    color: white;
}

.NavigationItem:nth-child(3) {
   background: #28a745;
   color: white;
}

.NavigationItem:nth-child(4) {
    background: #dc3545;
    color: white;
}

.NavigationItem:nth-child(5) {
    background: #000;
     color: white;
}