.Expenses {
    height: 100%;
    width: 100%;
    background: #fde9e8;
    overflow: auto;
}

.Header {
    text-align: left;
    padding-top: 40px; 
    margin-bottom: 40px;
    margin-left: 40px;
}

.Header h1 {
    margin-top: 0;
    font-weight: bold;
}

.row {
    overflow: scroll;
}

.col {
    margin: 10px auto !important;
}

.Table {
    font-size: 18px;
    color: rgb(220, 53, 69);
    white-space: nowrap;
    overflow: hidden;
     overflow: scroll;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.Table th {
    text-align: center;
}


.Table input {
    height: 100%;
    font-size: 18px;
    background: none;
    border: none;
    text-align: center;
}

@media (min-width: 500px) {
    .Expenses {
        min-height: 650px;
    }
}