.Model {
    height: 100%;
    width: 100%;
    background: rgb(207, 205, 205);
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease-out;
    margin: 0px;
    padding: 0px;
    border-radius: 15px;
}

.Button {
    width: 200px;
    height: 60px;
    font-size: 24px;
    margin: 20px auto;
}

@media (min-width: 500px) {
    .Model {
        width: 500px;
        height: 350px;
    }
}